<ion-content [fullscreen]="true"mode="ios">
  <ion-card-header>
    <ion-card-title>Navigation Par Onglets</ion-card-title>
  </ion-card-header>
 
    <img src="assets/boys.png" alt="" style="margin-top: 180px;">
      
</ion-content>

<ion-tabs >
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="accueil" >
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personne" >
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Personne</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fruits" >
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Fruits</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
