<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Propos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"mode="ios">
<ion-card>
  <ion-card-content >
   <img src="assets/Scrum board-amico.png" alt="dashboard">
  </ion-card-content>
  <ion-card-header>
    <ion-card-subtitle>A Propos</ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-content>
    Application I&P est une application qui présente divers contenu afin de plaire à un public plus large.
  </ion-card-content>
</ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>