<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accueil</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"mode="ios">
  <ion-card-header>
    <ion-card-title>Menu Gauche</ion-card-title>
  </ion-card-header>
 
    <img src="assets/boys.png" alt="" style="margin-top: 180px;">
    <ion-item [routerLink]="['preference']">
    </ion-item>
      
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>