<ion-header>
  <ion-toolbar  color="dark" mode="ios">
    <ion-title>Fruits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"mode="ios">
<ion-card>
  <img src="assets/fruits.jpg" alt="fruits">
</ion-card>
<ion-card>
  <ion-list>
    <ion-item *ngFor="let item of fruits">
      <ion-label>{{item.nom}}</ion-label>
      <ion-label>
        <small>{{item.description}}</small>
      </ion-label>
      <ion-avatar slot="start">
        <img src="{{item.image}}" alt="">
       </ion-avatar>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
