<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"mode="ios">
<ion-card>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <img src="assets/pers4.jpg" alt="">
      </ion-col>
      <ion-col size="6">
        <h3 style="color:black ;">Bella Gordon
          <br>
        Dev Full-stack</h3> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-list>
    <ion-item>
      <ion-label>
        <span> Nom :</span>
        Bella Gordon
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <span> Profession :</span>
        Dev Full-stack
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <span> Résidence :</span>
        JoahannesBurg 
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <span> Email :</span>
        Bella@gmail.com 
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <span> N° tel :</span>
        (+152)66995933 
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <span> Age :</span>
        25 ans 
      </ion-label>
    </ion-item>

    <ion-card>
      <span style="color:blue ; margin-left: 15px;">Informations de connexion</span>
      <ion-item>
        <ion-label>
          <span> Mail de connexion :</span>
          Bella@gmail.com  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <span> Mot de Passe :</span>
          xxxxxxx 
        </ion-label>
      </ion-item>
    </ion-card>

  </ion-list>
</ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>