<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-title>Personne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"mode="ios">
  <ion-card>
    <img src="assets/shapes.svg" alt="">
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of persone">
        <ion-label> <h4> {{item.nom}}</h4>
          <h4> <small> {{item.filiere}}, {{item.anneeAca}}</small></h4>
         
        </ion-label>
        <ion-avatar slot="start">
          <img src="{{item.image}}" alt="">
         </ion-avatar>
      </ion-item>
    </ion-list>
    </ion-card> 
</ion-content>
